---
title: Banners
---
extends shared/_layout
block content

  // banner 300x600
  .banner-container
    .banner.banner--300x600
      .banner__wrapper
        .banner__background-image
          img(src='img/')
        .banner__content
          p.banner__text Доставка продуктов на нас!
          p.banner__text  Покупки для всей семьи
        .banner__bottom
          .banner__cart-img
            img(src='img/' srcset='img/')
          .banner__brand-logo
            img(src='img/' srcset='img/')

  // banner 100%x250px
  .banner-container
    .banner.banner--100x250
      .banner__wrapper
        .banner__content
          p.banner__text Доставка продуктов на нас!
          p.banner__text  Покупки для всей семьи
        .banner__bottom
          .banner__cart-img
            img(src='img/' srcset='img/')
          .banner__brand-logo
            img(src='img/' srcset='img/')

  // banner 100%x400px
  .banner-container
    .banner.banner--100x250
      .banner__wrapper
        .banner__content
          p.banner__text Доставка продуктов на нас!
          p.banner__text  Покупки для всей семьи
        .banner__bottom
          .banner__cart-img
            img(src='img/' srcset='img/')
          .banner__brand-logo
            img(src='img/' srcset='img/')
