---
title: Banners
---
extends shared/_layout
block content

  iframe(src="http://localhost:3000/300.html" width="300" height="600" frameborder="0" scrolling="no" allowfullscreen="true")
  iframe(src="http://localhost:3000/250.html" width="100%" height="250" frameborder="0" scrolling="no" allowfullscreen="true")
  iframe(src="http://localhost:3000/400.html" width="100%" height="400" frameborder="0" scrolling="no" allowfullscreen="true")
