// banner 100%x400px
a(href="%clickurl_1%" target="_blank").banner.banner--100x400
  .banner__background-image
    img(data-aos="fade-up" data-aos-delay="800" src='img/background100x400.png' srcset='img/background100x400@2x.png 2x')
  .banner__wrapper
    include _content
    include _bottom
