// banner 300x600
a(href="%clickurl_1%" target="_blank").banner.banner--300x600
  .banner__wrapper
    .banner__background-image
      img(data-aos="fade-up" data-aos-delay="800" src='img/background300x600.png' srcset='img/background300x600@2x.png 2x')
    include _content
    include _bottom
