// banner 100%x400px
a(href="https://www.perekrestok.ru?ref=eda.ru" target="_blank").banner.banner--100x400
  .banner__background-image(data-aos="fade-up" data-aos-delay="800")
    img(src='img/background100x400.jpg' srcset='img/background100x400@2x.jpg 2x')
  .banner__wrapper
    include _content
    include _bottom
