// banner 100%x400px
.banner.banner--100x400
  .banner__wrapper
    .banner__content
      p.banner__text Доставка продуктов на нас!
      p.banner__text  Покупки для всей семьи
    .banner__bottom
      .banner__cart-img
        img(src='img/' srcset='img/')
      .banner__brand-logo
        img(src='img/' srcset='img/')
