/* only for testing
.banner-container
  margin: 40px auto
  display: flex
  justify-content: center


/* banner component
.banner
  display: block
  position: relative
  z-index: 1
  overflow: hidden
  background: $colorGreen
  color: white
  &__wrapper
    margin: 0 auto
    max-width: 970px

  &__background-image
    position: absolute
    top: 0
    bottom: 0
    left: 50%
    width: 100%
    max-width: 970px
    transform: translate(-50%, 0)
    font-size: 0
    z-index: 1
    pointer-events: none
    img
      width: 100%
      height: 100%
      object-fit: cover
      object-position: center center

  &__content
    position: relative
    z-index: 2
    padding: 35px

  &__text
    font-weight: 700
    font-size: 40px
    letter-spacing: +em(0.1, 40)
    line-height: 1.05
    margin: 0
    & + .banner__text
      margin-top: 0.5em

  &__bottom
    position: absolute
    bottom: 0
    left: 50%
    width: 100%
    max-width: 970px
    transform: translateX(-50%)
    z-index: 3
    display: flex
    align-items: center
  &__cart-img
    flex: 0 0 auto
    img
      max-width: 100%

  &__brand-logo
    flex: 1 1 auto
    width: 100%
    img
      max-width: 100%


  // modify existing classes
  &--300x600
    max-width: 300px
    min-height: 600px
    .banner
      &__bottom
      &__cart-img
        max-width: 115px
        margin: 0 0 -10px -7px
      &__brand-logo
        padding-top: 50px
        max-width: 165px
        padding-left: 5px
  &--100x250
    width: 100%
    min-height: 250px
    .banner
      &__content
        padding-left: 190px
      &__text
        & + .banner__text
          margin-top: 0em
      &__bottom
      &__cart-img
        max-width: 175px
        margin-bottom: -30px
      &__brand-logo
        padding-top: 95px
        max-width: 260px
        padding-left: 20px
  &--100x400
    width: 100%
    min-height: 400px
    .banner
      &__content
        padding-top: 50px
        padding-left: 190px
      &__text
        font-size: 54px
        & + .banner__text
          margin-top: 0em
      &__bottom
      &__cart-img
        max-width: 179px
        margin-bottom: -30px
        margin-left: -5px
      &__brand-logo
        padding-top: 70px
        max-width: 335px
        padding-left: 15px
