// banner 100%x250px
a(href="%clickurl_1%" target="_blank").banner.banner--100x250
  .banner__wrapper
    .banner__background-image
      img( data-aos="fade-up" data-aos-delay="800" src='img/background100x250.png' srcset='img/background100x250@2x.png 2x')
    include _content
    include _bottom
