// banner 100%x250px
a(href="https://www.perekrestok.ru?ref=eda.ru" target="_blank").banner.banner--100x250
  .banner__wrapper
    //- .banner__background-image(data-aos="fade-up" data-aos-delay="800")
    //-   img(src='img/background300x600.jpg' srcset='img/background300x600@2x.jpg 2x')
    include _content
    include _bottom
