/* only for testing
.banner-container
  margin: 40px auto
  display: flex
  justify-content: center


/* banner component
.banner
  display: block
  position: relative
  z-index: 1
  overflow: hidden
  background: #000000
  color: white
  &__wrapper
    margin: 0 auto
    max-width: 970px

  &__background-image
    position: absolute
    top: 0
    bottom: 0
    left: 50%
    width: 100%
    max-width: 970px
    transform: translate(-50%, 0)
    font-size: 0
    z-index: 1
    pointer-events: none
    img
      width: 100%
      height: 100%
      object-fit: cover
      object-position: center center

  &__content
    position: relative
    z-index: 2
    padding: 40px 20px 35px 35px

  &__text
    font-weight: 700
    font-size: 28px
    line-height: 1.2
    margin: 0
    & + .banner__text
      margin-top: 0.35em
    br
      display: none
    &--accent
      font-size: 20px
      color: $colorGreen

  &__bottom
    position: absolute
    bottom: 0
    left: 50%
    width: 100%
    max-width: 970px
    transform: translateX(-50%)
    z-index: 3
    display: flex
    align-items: center

  &__bottom-wrapper
    flex: 1 1 auto
    width: 100%
    padding-left: 35px
    padding-bottom: 25px
  &__brand-logo
    img
      max-width: 100%

  &__copyright
    color: $colorGreen
    font-size: 13px
    letter-spacing: em(-0.7, 13)
    line-height: 1.2
    font-family: $systemFont


  // modify existing classes
  &--300x600
    max-width: 300px
    min-height: 600px
    .banner
      &__brand-logo
        max-width: 195px
        padding-bottom: 5px
      &__copyright
        padding-right: 2px
  &--100x250
    width: 100%
    min-height: 250px
    .banner
      &__background-image
        width: 970px
      &__content
        padding-left: 45px
      &__text
        font-size: 32px
        & + .banner__text
          margin-top: 0.2em
        &--accent
          font-size: 22px
      &__bottom-wrapper
        padding-left: 45px
        padding-bottom: 17px
      &__brand-logo
        max-width: 240px
      &__copyright
        br
          display: none
          &.br-always
            display: block
  &--100x400
    width: 100%
    min-height: 400px
    .banner
      &__content
        padding-top: 50px
        padding-left: 60px
      &__text
        font-size: 42px
        max-width: 380px
        & + .banner__text
          margin-top: 0.1em
        &--accent
          font-size: 28px
          max-width: 100%
      &__bottom-wrapper
        padding-left: 60px
      &__brand-logo
        max-width: 240px
      &__copyright
        br
          display: none
          &.br-always
            display: block

+r(970)
  .banner
    &__background-image
      left: 0
      transform: none
    &--100x250
      .banner
        &__background-image
          width: 100%
        &__text
          font-size: 30px
          &--accent
            font-size: 20px
    &--100x400
      .banner
        &__background-image
          display: none
        &__content
          padding-top: 40px
        &__text
          font-size: 48px
          max-width: 440px
          & + .banner__text
            margin-top: 0.3em
          &--accent
            font-size: 28px
          br
            display: block
        &__bottom-wrapper
          padding-bottom: 30px
        &__copyright
          br
            display: block
            &:nth-child(1)
              display: none
+r(768)
  .banner
    &--100x250
      .banner
        &__background-image
          display: none
        &__text
          font-size: 28px
          &--accent
            font-size: 18px
        &__copyright
          br
            display: block
            &:nth-child(1)
              display: none

+r(600)
  .banner
    &__wrapper
      max-width: 300px
    &__bottom
      max-width: 300px

    &--100x250
      .banner
        &__content
          padding: 30px 5px 0px 40px
        &__text
          br.br-mobile
            display: block
          & + .banner__text
            margin-top: 0.35em
        &__bottom-wrapper
          padding-left: 40px
          padding-bottom: 20px
        &__brand-logo
          max-width: 200px
        &__copyright
          display: none

    &--100x400
      .banner
        &__content
          padding-left: 40px
        &__text
          font-size: 35px
          br.br-mobile
            display: block
          &--accent
            font-size: 20px
        &__bottom-wrapper
          padding-left: 40px
        &__brand-logo
          max-width: 215px
        &__copyright
          display: none
