// bottom
.banner__bottom
  .banner__bottom-wrapper
    .banner__brand-logo(data-aos="fade-up" data-aos-delay="1200")
      img(src='img/logo.svg')
    .banner__copyright(data-aos="fade-up" data-aos-delay="1500") AO&nbsp;&laquo;Торговый Дом Перекресток&raquo;. <br/>ОГРН 1027700034493109029. <br/> Москва, Средняя Калитниковская&nbsp;28, стр.&nbsp;4 <br class="br-always"/>Условия акции на&nbsp;сайте perekrestok.ru
