// content
.banner__content
  p.banner__text.banner__text--accent(data-aos="fade-up") Чёрная пятница, <br class="br-mobile" />с&nbsp;25&nbsp;ноября по&nbsp;1&nbsp;декаря
  p.banner__text(data-aos="fade-up" data-aos-delay="400") Товары по&nbsp;1&nbsp;рублю <br class="br-mobile" />при заказе онлайн
